body {
    background-color: #FF7982;
    padding: 70px 80px 0px 80px;
    margin-bottom: 0;
}


.card {
    margin: 0 auto;
    text-align: center;
}

.call-to-action {
    border-radius: 10px;
    background: var(--Dark, rgb(9, 24, 63, 0.5));
    box-shadow: 0px 14px 25px -10px rgba(9, 24, 63, 0.17);
    color: white;
    max-width: 645px;
    padding: 55px;
}

.produto {
    max-width: 500px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.produto-1 {
    margin-bottom: 60px;
}

.call-to-action h1 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    margin-bottom: 10px;

}

.call-to-action p {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
}

.call-to-action a {

    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #FF8E4F;
}

.produto .conteudo-card {
    padding: 50px 60px 40px 60px;
}

.produto h1 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    margin-bottom: 26px;
    
}

.produto p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin-bottom: 38px;
}


.produto a {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid #09183F;
    background-color: #FFF;
    color: black;
    line-height: 24px;
    padding: 10px 30px;
    text-decoration: none;
}

img {
    margin-top: 40px;
    
}

.container {
    background-color:#F4F8FD ;
    padding-bottom: 30px;
}

.background {
    background-image: url('assets/background.png');
    background-size: cover;
    padding: 55px;
    margin-bottom: 70px;
}